<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->
  <meta name="theme-color" content="#032d44">
  {{if not (eq .Page.Description "") }}
  <meta name="description" content="{{ .Page.Description }}" />
  {{else}}
  <meta name="description" content="{{ .Site.Params.description }}" />
  {{end}}
  <meta name="copyright" content="Copyright (c){{ $.Site.LastChange.Year }} {{ .Site.Author.name }}" />
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  
  {{ .Hugo.Generator }}
  
  <link rel="canonical" href="{{ .Page.Permalink }}"/>
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{.Site.Title}} - RSS" href="{{ .Site.BaseURL }}index.xml" />
  
  {{ if eq .URL "/" }}
  <title>{{ .Title }}</title>
  <meta property='og:title' content="{{ .Title }}">
  {{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
  {{ end }}
  
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}" />
  {{if not (eq .Page.Description "") }}
  <meta property="og:description" content="{{ .Description }}" />
  {{else}}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  {{end}}
  <meta property="og:locale" content="en-US" />
  <meta property="article:author" content="{{ .Site.Author.name }}" />
  
  <link href="{{ .Site.BaseURL }}" rel="publisher" />
  <meta itemprop="name" content="{{ .Title }}" />
  {{if not (eq .Page.Description "") }}
  <meta itemprop="description" content="{{ .Page.Description }}" />
  {{else}}
  <meta itemprop="description" content="{{ .Site.Params.description }}" />
  {{end}}
  <meta itemprop="image" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}" />
  <meta name="last-updated" content="{{.Page.Lastmod.Format "20060102-15:04:05.000"}}" /> 

</head>
<body>
<div class="wrapper">